.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
	.navbar-header
		%button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
			%span.sr-only Toggle navigation
			%span.icon-bar
			%span.icon-bar
			%span.icon-bar
		%a.navbar-brand{href: "#", rel: "home"} Brand
	.collapse.navbar-collapse
		%ul.nav.navbar-nav
			%li
				%a{href: "#"} Link
			%li
				%a{href: "#"} Link
			%li
				%a{href: "#"} Link
			%li.dropdown
				%a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
					Dropdown
					%b.caret
				%ul.dropdown-menu
					%li
						%a{href: "#"} Action
					%li
						%a{href: "#"} Another action
					%li.divider
					%li
						%a{href: "#"} Separated link
					%li.divider
					%li
						%a{href: "#"} One more separated link
		%button.btn.btn-default.navbar-btn{type: "button"} Button
		.col-sm-3.col-md-3.pull-right
			.navbar-text Text
			%form.navbar-form{role: "search"}
				.input-group
					%input#srch-term.form-control{name: "srch-term", placeholder: "Search", type: "text"}/
					.input-group-btn
						%button.btn.btn-default{type: "submit"}
							%i.glyphicon.glyphicon-search
%br
= yield
