= render 'nav_bar'

#loginModal.modal.show{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1", :style => "\n    margin-top: 55px;\n    margin-left: 0px;\n"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
				%h1.text-center Edit Profile
			.modal-body
				= form_for @new_gift do |f|
					= render 'form', f: f
					%br
