.navbar.navbar-default
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", type: "button"}
      %span.icon-bar
    %a.navbar-brand{href: "/"} Random Ax
  .navbar-collapse.collapse.navbar-responsive-collapse
    %ul.nav.navbar-nav.navbar-right
      %li
        %a{href: "/users"} Users
      / %li
      /   %a{href: "/users"} Askers
      %li
        %a{href: "/gifts"} Gifts
      %li.active
        %a{href: "/posts"} Posts
      %form.navbar-form.navbar-left
        %li 
          = form_tag search_posts_path, method: "get" do
            = text_field_tag "search[search_term]"
            = submit_tag "Search", method: "get"